<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Productos</h1>
		<div class="panel panel-default">
            <div class="panel-heading">
                Listado de productos
                <div class="pull-right">
                	<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
                		<i class="fa fa-plus-o"></i> Nuevo producto
                	</button>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Descripci&oacute;n</th>
                                <th>Precio</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% for i in 0...@productos.size %>
                              <tr>
                                <td><%= @productos[i][0] %></td>
                                <td><%= @productos[i][1] %></td>
                                <td>S/. <%= @productos[i][2].to_f %></td>
                                <td><%= @productos[i][3] %></td>
                              </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
    </div>
    <%= render 'productos/forms/form' %>
	</div>
</div>
